// -*- Mode: c++ -*-

#pragma once

// macOS sometimes increases the retain count of VirtualHIDKeyboard and VirtualHIDPointing. (maybe an bug of macOS)
// It causes a kextunload error by the following reason.
//
//     (kernel) Kext org.pqrs.driver.VirtualHIDManager class org_pqrs_driver_VirtualHIDKeyboard has 3 instances.
//
// Thus, we append to version signature to the class names in order to ensure load new VirtualHIDManager at update.

#define VIRTUAL_HID_MANAGER_CLASS org_pqrs_driver_VirtualHIDManager_VERSIONSIGNATURE
#define VIRTUAL_HID_MANAGER_USERCLIENT_CLASS org_pqrs_driver_VirtualHIDManager_UserClient_VERSIONSIGNATURE
#define VIRTUAL_HID_KEYBOARD_CLASS org_pqrs_driver_VirtualHIDKeyboard_VERSIONSIGNATURE
#define VIRTUAL_HID_POINTING_CLASS org_pqrs_driver_VirtualHIDPointing_VERSIONSIGNATURE
